.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projectMainContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    color: #ccc;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    background-color: #181818;
    color: #ccc;
}

.middleColumn {
    display: flex;
    width: 750px;
    background-color: #1F1F1F;
}

.rightColumn {
    display: flex;
    flex: 1;
    background-color: #333;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    cursor: grab;
}

.rightColumn:active {
    cursor: grabbing;
}

.rightColumn>:nth-child(1) {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightColumn>:nth-child(1)>div>img {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    cursor: crosshair;
    border: 2px solid #444;
}

.projectHeader {
    display: flex;
    align-items: center;
    padding: 0.5em 1.0em;
    gap: 1.0em;
}

.projectHeader>h1 {
    height: fit-content;
}

.projectHeader>img {
    width: 2rem;
}

.listMarkups {
    flex: 1;
    overflow-x: hidden;
}

.linearShadow {
    height: 2px;
    background: #2B2B2B;
}

.withoutMarkup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.withoutMarkup>h1 {
    font-size: 3em;
}

.withMarkup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentsList {
    flex: 1;
    overflow-y: auto;
}

/*TODO: Move this */
.mainActionButton {
    height: 50px;
    margin: 0;
    background-color: #252525;
    color: #ccc;
    border: 0;
    cursor: pointer;
    transition: var(--global-transition-duration);
}

.mainActionButton:hover {
    background-color: #333;
}

.newCommentContainer {
    display: flex;
    height: 50px;
}

.newCommentContainer>input {
    flex: 1;
    background-color: #555;
    color: white;
}