.mainContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr auto;
    height: 50px;
}

/*TODO: Move this */
.mainActionButton {
    flex: 1;
    margin: 0;
    background-color: #252525;
    color: #ccc;
    border: 0;
    cursor: pointer;
    transition: var(--global-transition-duration);
}

.mainActionButton:hover {
    background-color: #333;
}