.mainContainer {
    --markup-item: #222;
    --markup-item-hover: #333;
    --markup-item-selected: #444;
    --markup-item-border: #333;
}

.markupItem, .markupItemSelected {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
    background-color: var(--markup-item);
    border: 0.1rem solid var(--markup-item-border);
    cursor: pointer;
    transition: var(--global-transition-duration);
}

.titleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    max-height: 6em;
}

.titleContainer>h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleContainer>.chipItem {
    max-width: 4em;
}

.markupItem:hover {
    background-color: var(--markup-item-hover);
}

.markupItemSelected {
    background-color: var(--markup-item-selected);
}

/*TODO: add ellipsis if cant fix the flex box*/
.labelsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 3rem;
    gap: 0.3rem;
    overflow: hidden;
}

.chipsListContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipsListContainer>span {
    font-size: 0.7rem;
}

.chipsListContainer>div {
    max-width: 100%;

}

.chipItem {
    background-color: var(--global-blue-background);
    border: 0.1rem solid var(--global-blue);
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    align-self: flex-start;
    font-size: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.assignedToAndDueDateContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10rem auto;
    justify-content: space-between;
    gap: 2rem;
}

.dueDate {
    grid-column: 2;
    text-align: end;
}