.markupHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 0.75rem;
    background-color: #444;
}

.markupHeader h1 {
    font-size: 1rem;
}

.markupHeader>span, .markupHeader>input {
    font-size: 0.875rem;
}

.assignedToContainer, .labelsContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.datesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.labelsList {
    display: flex;
    gap: 0.3rem;
}

.chipsListContainer {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.8rem;
}

.chipsListContainer>span {
    font-size: 0.7rem;
}

.chipsListContainer>div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chipItem {
    border: 0.1rem solid var(--global-blue);
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;
    align-self: flex-start;
    font-size: 0.6rem;
}

.topicProperties {
    display: flex;
    gap: 2rem;
}